<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <indexing.getDependencies help="Processors should derive from Sitecore.ContentSearch.Pipelines.GetDependencies.BaseProcessor">
        <!-- When indexing an item, make sure any items for whom it is a datasource get re-indexed as well -->
        <processor type="DatasourceIndexer.Pipelines.UpdateIndexDatasource,DatasourceIndexer"/>
      </indexing.getDependencies>
    </pipelines>
    <controlSources>
      <source mode="on" namespace="DatasourceIndexer.Field" assembly="DatasourceIndexer" prefix="MultiList"/>
    </controlSources>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="_content" storageType="no" indexType="tokenized">DatasourceIndexer.ComputedField.DatasourceComputedField, DatasourceIndexer</field>
          </fields>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>